@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

::-webkit-scrollbar {
  background-color: rgb(102, 102, 102);
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(202, 202, 202);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(175, 175, 175);
  cursor: pointer;
  border-radius: 50px;
}

body {
  height: 900vh;
}

header {
  display: flex;
  flex-direction: column;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 150px;
}

header h1 {
  font-size: 170px;
}

h1 {
  color: white;
}

.subtitle {
  width: 100%;
}

span {
  color: rgb(74, 170, 254);
  font-weight: bold;
}

header .content {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

header .content #next {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%);
}

header .content button,
.definition button,
.graphic-card-build button,
.producers .buttons button,
.action .buttons button,
.producers .buttons button,
.algorithm .buttons button,
.usage .buttons button,
.integrated button,
.parameters button,
.architecture .buttons button {
  padding: 15px 10px;
  width: 300px;
  font-size: 30px;
  background-color: transparent;
  border: 2px solid rgb(0, 136, 255);
  color: white;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin-top: 20px;
  transition: box-shadow 0.5s, background-color 0.5s, text-shadow 0.5s;
}

header .content button:hover,
.definition button:hover,
.graphic-card-build button:hover,
.producers .buttons button:hover,
.producers .buttons button:hover,
.action .buttons button:hover,
.algorithm .buttons button:hover,
.usage .buttons button:hover,
.integrated button:hover,
.parameters button:hover,
.architecture .buttons button:hover {
  text-shadow: 0 0 30px rgba(255, 255, 255, 1);
  background-color: rgb(0, 136, 255);
  box-shadow: 0 0 100px 20px rgb(0, 136, 255);
}

header img {
  scale: 2;
  rotate: 100deg;
  position: absolute;
  bottom: 0rem;
  right: -10rem;
  rotate: 70deg;
  transition: bottom 0.5s, right 0.5s, scale 0.5s;
}

header img:hover {
  right: 0rem;
  bottom: 10rem;
  scale: 2.5;
}

#progress-bar {
  height: 20px;
  width: 0px;
  position: fixed;
  background-color: rgb(74, 170, 254);
  left: 0;
  top: 0;
  z-index: 999;
}

.cursor {
  scale: 1.5;
  top: 50px;
  left: 50px;
  color: rgb(173, 173, 173);
  position: fixed;
  z-index: 999;
  transform: rotate(0deg);
  pointer-events: none;
  animation: cursor 0.5s linear infinite;
  transform-origin: center;
}

.definition {
  display: flex;
  padding: 100px;
  flex-direction: column;
  height: 100vh;
  position: relative;
  background-color: rgb(20, 20, 20);
  overflow: hidden;
}

.definition h2 {
  color: white;
  font-size: 100px;
  width: 60%;
}

#definition-image {
  scale: 2;
  rotate: 90deg;
  position: absolute;
  bottom: -40rem;
  right: 0;
  pointer-events: none;
}

#definiton-description {
  color: white;
  font-size: 40px;
  margin-top: 40px;
  width: 80rem;
}

.definition #next {
  position: absolute;
  bottom: 10%;
}

.graphic-card-build {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(20, 20, 20);
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.graphic-card-build .title {
  color: white;
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 100px;
  width: 100rem;
}

.graphic-card-build button {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
}

.producers {
  background-color: rgb(20, 20, 20);
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 100px;
  position: relative;
  overflow: hidden;
}

.producers .images {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.producers .description {
  width: 90%;
  color: white;
  font-size: 35px;
}

.producers .graphic-card {
  position: absolute;
  rotate: 180deg;
  right: -100px;
  scale: 2.3;
  bottom: 13.5%;
}

.producers img {
  width: 1000px;
  height: 500px;
  object-fit: cover;
}

.producers .content {
  display: flex;
  flex-direction: column;
  gap: 5%;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.content h2,
.action h2,
.usage .content h2 {
  color: white;
  font-size: 80px;
}

.action {
  height: 100vh;
  background-color: rgb(20, 20, 20);
  padding: 100px;
  display: flex;
  flex-direction: row;
  gap: 10%;
  position: relative;
  align-items: center;
  overflow: hidden;
}

.action .content {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.action .background {
  object-fit: cover;
  width: 30%;
  width: 1000px;
  height: 500px;
  position: absolute;
  top: 20%;
  right: 5%;
  border-radius: 50px;
  border: 3px solid white;
}

.action .description {
  color: white;
  font-size: 33px;
  width: 600px;
  margin-top: 30px;
}

.action .buttons {
  position: absolute;
  bottom: 7%;
  left: 4%;
}

.action .action-graphic-card {
  position: absolute;
  bottom: -50px;
  right: -300px;
  scale: 2;
  transition: bottom 0.5s, right 0.5s, scale 0.5s;
}

.action .action-graphic-card:hover {
  bottom: 20px;
  right: -100px;
  scale: 2.4;
}

.algorithm {
  background-color: rgb(20, 20, 20);
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: row;
  padding: 100px;
  justify-content: space-between;
  gap: 50px;
  overflow: hidden;
}

.algorithm .title {
  margin-bottom: 30px;
}

.algorithm .content {
  width: 45%;
}

.algorithm .content .buttons {
  position: absolute;
  bottom: 7%;
  left: 3%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.algorithm .description {
  font-size: 40px;
  color: white;
}

.algorithm img {
  width: 1300px;
  height: 700px;
  object-fit: cover;
  border: 3px solid white;
}

.usage {
  background-color: rgb(20, 20, 20);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 100px;
  overflow: hidden;
}

.usage .title {
  font-size: 120px;
  text-align: center;
}

.usage .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.usage .content .description {
  color: white;
  font-size: 40px;
  text-align: center;
}

.usage .content .buttons {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.parameters {
  background-color: rgb(20, 20, 20);
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  padding: 100px;
  align-items: center;
  gap: 50px;
  overflow: hidden;
}

.parameters .content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.dropdown {
  background-color: rgb(47, 45, 55);
  width: 300px;
}

.dropdown .selected {
  background-color: rgb(34, 33, 39);
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  padding: 10px 20px;
  user-select: none;
}

.dropdown .selected:hover {
  background-color: rgb(30, 29, 33);
}

.dropdown ul {
  list-style: none;
  font-size: 30px;
  text-align: center;
  color: white;
  display: none;
  user-select: none;
}

.dropdown p {
  padding: 5px 10px;
}

.dropdown p:hover {
  background-color: rgb(34, 33, 39);
}

.parameters .description {
  color: white;
  font-size: 35px;
  text-align: center;
}

.parameters button {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.architecture {
  height: 100vh;
  background-color: rgb(20, 20, 20);
  padding: 100px;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 150px;
  overflow: hidden;
}

.architecture img {
  width: 900px;
  height: 600px;
  object-fit: cover;
}

.architecture .buttons {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 20px;
  bottom: 7%;
  left: 3%;
}

.architecture .content {
  width: 50%;
}

.architecture .description {
  color: white;
  font-size: 40px;
}

.architecture .title {
  font-size: 80px;
  color: white;
  width: 1200px;
}
